.grid-block{
    position: relative;
    width: 100vw;   
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 0 1em;
    width: 100%;
    position: relative;
}

.grid__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 1em;
    color: #000;
    transition: .35s ease;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.grid__item .icon img {
    min-height: 100px;
    min-width: 200px;
}
.grid__item p,
.grid__item img,
.grid__item .grid__title{
    transition: .35s ease;
}
.grid__title{
    text-align: center;
    font-size: 2em;
    color: #000;
    font-weight: 600;
}
.grid__item p{
    margin: 1em 0 0 0;
    text-align: center;
}


@media screen and (max-width: 1280px), screen and (max-height: 1024px)
{

}


@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        width: 100%;
        position: relative;
    }



}

@media (max-width: 992px) {
    .grid__item .icon svg {
        min-height: 70px;
        min-width: 150px;
    }
}

/* IPAD */
@media (max-width: 768px) {
    .grid__item .icon svg {
        min-height: 50px;
        min-width: 100px;
    }
}

/* MOBILE */
@media (max-width: 576px) {

}









